# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.xml
.idea/
*.iml
.DS_Store
/practice/Clustream/cmake-build-debug/

/cmake-build-debug/*
/cmake-build-release/*
/cmake-build-debug/_deps/
/cmake-build-release/_deps/
/benchmark/cmake-build-debug/
/benchmark/cmake-build-release/
/cmake-build-debug*
/build/
/release/
/benchmark/build/
/benchmark/release/
/cmake-*
/debug
.vscode/
/scripts/benne/jpg/
/scripts/benne/pdf/
*.log

benchmark/datasets/
test/datasets/

*.egg-info/
*.out
results.txt

/benchmark/datasets/CoverType.txt
/benchmark/datasets/sensor.arff.txt
